body{

   background-color: #f0f2f5 !important;

}

.loginblock{
    height: 10%;
    width: 25%;
    position: absolute;
    top: 15%;
    left: 55%;  
   
}
.fblogin{
   
    background-color:white;
    padding-bottom: 5%;  
    border-radius: 8px;
    box-shadow: 2px 2px 12px 1px grey;
}

input:focus{
    /* border: 5px solid  rgb(48, 48, 223) ; */
outline: 1px solid #1877F2; 
box-shadow:1px 0px 0px 2px #6ea4eb83;
}

.email{
    margin-top: 15px;
    margin-left: 15px;
    height: 50px;
    width: 355px;
    border-radius: 6px;
    border:1px solid rgb(216, 213, 213) !important;
     
}
.password{
    margin-top: 15px;
    margin-left: 15px;
    height: 50px;
    width: 355px;
    border-radius: 6px;
    border:1px solid rgb(216, 213, 213) !important;
}
.signin{
    margin-top: 15px;
    margin-left: 15px;
    height: 50px;
    width: 355px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold !important;
}

.forgot{
    margin-top: 15px;
    text-align: center !important;
    }
.forget{
        text-decoration: none;
    }
.create{
    
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #42b72a;
    margin-top: 8px;
    /* margin-left: 22%; */
    height: 50px;
    width: 205px;
    border-radius: 6px;
    border:1px solid grey !important;
    color: white;
    font-family:17px Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.create:hover{
    background-color: #2c9517;
}
.pagecreate{
    margin-left: 45px;
    font-size: 14px;

}
.logo{
    height: 2%;
    width: 58%; 
    text-align: left;
 /* margin-top:11.2%; */
margin-left: -32px; 
}

.fbname{
    position:absolute;
    top: 24%;
    left: 17%;
    width: 33%;
}
.description{
font-family: sArial, Helvetica, sans-serif;
font-size:  28px;
color: #1c1e21;
margin-top: -12px;

}
.footer{
    position: absolute;
   top: 90.6%;
    bottom: 0px;
    
    width: 100%;
    background-color: white;
    padding-top: 17px;
    padding-bottom: 160px;

}
.language,.contact{
    margin-left: 270px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.greenBtn{
    display: flex;

}

.ss{
   width: 68%;
   margin-left: 273px; 
   color: gray;
   
}
@media screen and (max-width: 1514px) {
    
   
    .loginblock{
        position: absolute;
        height: 10%;
        width: 27%;
        
       
    }
    .email,.password,.signin{
        max-width: 90%;
    }
    /* .create{ */
       /* max-block-size: 100%; */
        /* margin-left: 16%;
        margin-right: 16%; */
    
     /*.create{
        margin-left: 51px;
    }
    .pagecreate{
        margin-left: 20px;
    }
    .description{
        font-size: 24px;
    } */
  }



  @media screen and (max-width: 986px) {
    .create{
        margin-left: 12%;
    }
  }
  @media screen and (min-width: 987px) {
    .create{
        margin-left: 19%;
    }
  }
  /* @media screen and (min-width: 1669px)
  {
    .email,.password,.signin{
        width: 390px;
    }
    .create{
        margin-left: 110px;
    }
    .description{
        font-size: 28px;

    }
    .pagecreate{
        margin-left: 65px;
    }
     */
    

    
  /* } */

  